In [2]:
#this is a comment

# Python Program

In [18]:
a=10
b='hellow world'
c=20.45
print(a)
print(b)
print(c)

10
hellow world
20.45

In [6]:
print(a,b,c)

10 hellow world 20.45

In [9]:
x=y=z=100
print(x,y,z)

100 100 100

In [10]:
x,y,z=10,20,30

In [11]:
print(x,y,z)

10 20 30

In [12]:
text='Hello \
World'
text

'Hello World'

In [14]:
multilines=''' this is 
a python program
learning exercise'''
multilines
print(multilines)

 this is
a python program
learning exercise

In [17]:
val1=10
val2=None
val1,val2

(10, None)

## Arithmetic Operators

In [19]:
20+89

109

In [20]:
78-54

24

In [21]:
34*76

2584

In [22]:
65/5

13.0

## Assignment Operators

In [23]:
a=10
a+=1

In [24]:
a

15

In [25]:
b=15
b-=5
b

10

## Comparison Opereators <,>,<=,>=,==,!=

### Logical Operators and, or, not

In [27]:
a=10<10 and 2>-1
print(a)

False

### Identity operators is, is not

In [33]:
x=15
y=15
x is y

True

In [29]:
x is not 15

False

### Membership Operators in, not in

In [30]:
pets=['dog','cat','cow']
'lion' in pets

False

In [32]:
'dog' not in pets

False

## Datatypes in Python

In [34]:
num=1234
type(num)

int

In [35]:
num=10.5345
type(num)

float

In [36]:
str='string'
type(str)

str

In [37]:
str[3]

'i'

### indexes in python starts with 0

In [38]:
str[1:3]

'tr'

In [39]:
str.find('g')

5

In [41]:
str.replace('g','h')

'strinh'

In [43]:
str1='word1,word2,word3,word4'
str_split=str1.split(',')
str_split

['word1', 'word2', 'word3', 'word4']

## Tuple

In [44]:
tuple1=('a','b','c',1)

In [45]:
tuple1

('a', 'b', 'c', 1)

In [46]:
tuple1+=('d',)

In [47]:
tuple1

('a', 'b', 'c', 1, 'd')

In [57]:
tuple1=tuple1 * 2
print(tuple1)
print(tuple2)

('a', 'b', 'c', 1, 'd', 'a', 'b', 'c', 1, 'd')
('a', 'b', 'c', 1, 'd', 'a', 'b', 'c', 1, 'd')

In [51]:
tuple1[3]

1

In [53]:
tuple1[2:5]

('c', 1, 'd')

List

In [58]:
mylist=['str','world',34.5,56]
mylist

['str', 'world', 34.5, 56]

## all the operations like indexing, multiplying, slicing works in lists

In [59]:
mylist.append(['new','list'])

In [60]:
mylist

['str', 'world', 34.5, 56, ['new', 'list']]

In [61]:
mylist.extend(['c','d'])

In [62]:
mylist

['str', 'world', 34.5, 56, ['new', 'list'], 'c', 'd']

In [63]:
mylist.insert(2,'new value')

In [64]:
mylist

['str', 'world', 'new value', 34.5, 56, ['new', 'list'], 'c', 'd']

## Dictionary

### key:Value pair

In [65]:
mydict={1:'python',2:5.67,3:789}

In [66]:
mydict

{1: 'python', 2: 5.67, 3: 789}

In [67]:
emptydict={}

In [68]:
mydict.keys()

dict_keys([1, 2, 3])

In [69]:
mydict.values()

dict_values(['python', 5.67, 789])

In [70]:
mydict2={'name':'Nag',2:5678,3:'something'}

In [72]:
mydict2

{'name': 'Nag', 2: 5678, 3: 'something'}

In [73]:
mydict3={1:'python',2:'python',3:'else'}

In [77]:
mydict3.values()

dict_values(['python', 'python', 'else'])

In [75]:
mydict4={1:[1,3,5,],2:(1,2,3)}

In [76]:
mydict4

{1: [1, 3, 5], 2: (1, 2, 3)}

In [79]:
len(mydict)

3

## Sets

In [80]:
myset={1,2,4,5}

In [81]:
myset2={4,5,6}

In [82]:
myset and myset2

{4, 5, 6}

In [84]:
myset2-myset

{6}

## Control Structures

In [86]:
x=10
if (x <=10):
    print('x is lessthan or equal to 10')

x is lessthan or equal to 10

In [88]:
if (x>10):
    print('nothing')
else:
    print('in else case')

in else case

In [89]:
if (x>10):
    print('if case')
elif (x<10):
    print('elif case')
else:
    print('else case')

else case

In [90]:
fruits=['apple','banana','grape']
for i in fruits:
    print(i)

apple
banana
grape

## Functions

In [ ]:
def function_name (arg1, ...):
    statements
    ....
    return (expression)

In [93]:
def product (x,y):
    x+=2
    return (x * y)

In [94]:
product(10,5)

60

## Lambda Function

In [1]:
#syntax for lambda function - lambda arguments: expression

In [2]:
r=lambda x: x*x
r(5)

25

In [3]:
z=lambda x,y: (x**y)/x*y
z(2,4)

16

In [5]:
def power (x,y):
    return x**y
a=power(3,4)
print(a)

81

In [6]:
z(3,4)

81

df - apply a mean/median/calcution to entire dataframe - lamdba

## File Handling

In [7]:
# file handling, r - read, w - write (if file exits, then it will be truncated otherwise new file will be opened to wrie)
# a - apppend, r+ (both read and write)

In [11]:
f=open('demo.txt','w')
f.write('This is a file handling program \n')
f.write('this is a second line in the file')

33

In [12]:
f.close()

In [17]:
f=open('demo.txt','r')
lines=f.read() 
print(lines)

This is a file handling program
this is a second line in the file
 this is an appended line in the file

In [15]:
f=open('demo.txt','a')
f.write('\n this is an appended line in the file')

38

In [19]:
f.close()

In [21]:
f=open('demo.txt','r')
print(f.readline())

This is a file handling program

In [23]:
print(f.readline())

 this is an appended line in the file